:root {
  --color-dark-blue: rgb(32, 32, 70);
  --color-grayish-blue: hsl(240, 18%, 77%);
  --font-size: 32px;
  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: url(./images/pattern-curve.svg), url(./images/pattern-bg.svg);
  background-position: bottom left, top 25% center;
  background-size: 80%, 85%;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  font-family: var(--font-family);
  color: var(--color-dark-blue);
}

.wrapper {
  width: 75vw;
  max-width: 320px;
  height: 75vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgBox {
  width: 100%;
  height: 50%;
  position: relative;
  display: grid;
  place-items: center;
}

.imgBoxPosition {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.imgBoxPosition:hover {
  animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0) rotate(-0.5deg);
  }
  50% {
    transform: translateY(0) rotate(3deg);
  }
  100% {
    transform: translateY(0) rotate(-0.5deg);
  }
}

.sliderBtn {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -1em;
  z-index: 10;
  border-radius: 40%;
  box-shadow: 1px 2px 20px 10px rgb(32, 32, 70, 0.2);
  overflow: hidden;
}

.sliderBtn:hover {
  cursor: pointer;
}

.previewBox,
.nextBox {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.previewBox:hover {
  background-color: rgb(82, 68, 218);
}

.nextBox:hover {
  background-color: rgb(211, 98, 157);
}

.profileImg {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: opacity 3s;
}

.textBox {
  width: 100%;
  height: 50%;
  padding: 3em 0 0 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.textBox::before {
  width: 50px;
  height: 50px;
  content: "";
  background: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 1em;
}

.nameJobBox {
  display: grid;
  place-items: center;
}

.name {
  color: var(--color-dark-blue);
}

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 500px) {
  .wrapper {
    max-width: 400px;
    max-height: 600px;
  }

  .testimonial {
    font-size: 20px;
  }

  .sliderBtn {
    bottom: -1em;
  }

  .textBox {
    padding: 2em 0 0 0em;
  }
}

@media screen and (min-width: 890px) {
  body {
    background: url(./images/pattern-curve.svg), url(./images/pattern-bg.svg);
    background-position: bottom left, top right 5em;
    background-size: 60%, 60%;
    background-repeat: no-repeat;
  }

  .testimonial {
    font-size: 25px;
  }
}

@media screen and (min-width: 1160px) {
  body {
    background: url(./images/pattern-curve.svg), url(./images/pattern-bg.svg);
    background-position: bottom left, center right 5em;

    background-repeat: no-repeat;
  }
  .wrapper {
    width: 75vw !important;
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    grid-template-columns: 1fr 1fr;
  }
  .sliderBtn {
    bottom: 4em;
    right: 20em;
  }
  .profileImg {
    min-width: 522px;
  }

  .textBox {
    position: relative;
    right: -5em;
    z-index: 5;
    align-items: flex-start;
  }

  .textBox::before {
    width: 100px;
    left: 5em;
    top: 2em;
  }

  .testimonial {
    font-size: 32px;
    margin-bottom: 2em;
  }
  .nameJobBox {
    display: flex;
  }

  .name {
    margin-right: 1em;
    font-size: 1.5em;
  }
  .job {
    color: var(--color-grayish-blue);
  }
  .imgBox {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
  }
}
